body, html {
    margin: 0;
    padding: 0;
    color-scheme: dark;
    color: white;
    background-color: #121212;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-flow: column;
}


.bg,.pane {
    background-color: #333;
}
.pane {
    border-radius: 1em;
    padding: 1.25em;
    padding-block: 1.5em;
}
.pane :first-child {
    margin-top: 0;
}
.pane :last-child {
    margin-bottom: 0;
}

.center {
    margin: auto;
    text-align: center;
}

footer {
    width: 100%;
    text-align: center;
    font-size: x-small;
    color: #ccc;
}
footer a {
    color: #ccc;
}

code {
    background-color: #121212;
    padding: 2px;
    border-radius: 3px;
}